<div class="container">
  <div class="page-header">
    <h1>How To Mine</h1>
  </div>
  <p class="lead">In order to mine on this pool you need to have a
    <a href="https://www.bminer.me/" rel="nofollow" target="_blank">bminer</a> Zcash miner
    pointed to<br/><code>stratum://YOUR_ZEC_ADDRESS@{{config.StratumHost}}:{{config.StratumPort}}</code>
  </p>

  <h4>Advice</h4>
  <p>CPU mining is not recommended.</p>
  <h4>Terms of Service</h4>
  <p>By using the pool you accept all possible risks related to experimental software usage.<br/>
     Pool owner can't compensate any irreversible losses, but will do his best to prevent worst case.
  </p>
</div>
